@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #073e5e;
  padding: 0;
}

.app {
  z-index: 5;
  width: 100%;
  height: 100vh;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: column;
}
input {
  border-radius: 10px;
  margin: 5px 4px;
  border: 2px solid rgb(90, 128, 0);
  width: 25%;
}

input:focus {
  outline: none;
  border: 2px solid rgb(0, 128, 38);
}
.singlememe {
  position: fixed;
  top: 0;
  left: 15%;
  border-radius: 14px;
  z-index: 30;
  box-shadow: 5px 7px 14px 12px rgba(0, 0, 0, 0.5);
  margin: 5px 7px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  padding: 3px 7px;
  align-self: stretch;
  background-color: rgba(6, 43, 49, 0.9);
}

.signlememe_imagecontainer {
  height: 400px;
  width: 400px;
  
  background-repeat: no-repeat;
  background-size: cover; 
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

.singlememe h1 {
  color: white;
}
.input_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 5px;
  align-self: stretch;
}
.btn {
  padding: 15px 24px;
  margin: 4px 2px;
  /* margin-top: -12px; */
  border-radius: 10px;
  background-color: whitesmoke;
  color: turquoise;
  cursor: pointer;
}
.btn:hover,
.btn:active {
  background-color: rgb(19, 152, 185);
  color: whitesmoke;
}
.input_box span {
  margin: 0 5px;
  color:white
}
.list {
  border-radius: 12px;

  display: flex;
  height: 100%;
  width: 95%;
  padding: 5px 2px;
  margin: 5px 0px;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.meme {
  margin: 20px 7px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 0 0 25%;
}

.meme_image {
  height: 100%;
  width: 100%;
  z-index: 10;
  background-repeat: no-repeat;
  background-size: cover;
}

.meme_name {
  color: white;
  padding: 10px 4px;
}
.generator {
  width: 100%;
  background-color: rgb(6, 78, 112);
  padding: 10px 5px;
  color: rgb(8, 219, 209);
  text-align: center;
  font-size: 2rem;
}
.style_backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.loading {
  border-radius: 50%;
  border-top: 10px solid turquoise;
  border-bottom: 10px solid turquoise;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 200px;
  width: 200px;
  animation: rotateloader 1s ease-in-out 0s infinite ;
}

.loading_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  margin: 10px 0px;
}

.download-btn{
  padding:10px 15px;
  margin:7px 0px;
  background-color: rgb(8, 207, 158);
  color:rgb(203, 224, 236);
  border-radius: 10px;
}

.download-btn:hover{
  background-color: rgb(8, 201, 235);
  color:rgb(4, 53, 53)
}


@keyframes rotateloader {
  0%{
    transform:rotateZ(0deg);

  }
  
  100%{
    transform: rotateZ(360deg);

  }

}


@media screen and (max-width: 600px) {
  input {
    width: 100%;
    margin: 5px auto;
  }
  

.download-btn{
  margin: 4px 2px;
}
  .btn {
    margin:2px 2px
  }
  .signlememe_imagecontainer {
    height:300px;
    width:300px
  }
  .meme {
    flex: 0 0 100%;
  }
}
